* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: #1b1b1f;
  cursor: none;
}

.cursor_dot {
  width: 5px;
  height: 5px;
  background-color: white;
}

.cursor_outline {
  width: 30px;
  height: 30px;
  border: 2px solid hsla(0, 0%, 100%, 0.5);
  /* background-color: white; */
}

.cursor_dot,
.cursor_outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}
